<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalRegistro">
  <i class="bi bi-person-plus-fill"></i>  Agregar cliente
</button>
<!-- Modal Registro-->
<div class="modal fade" id="modalRegistro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registro de cliente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="">
          <div class="mb-3">
            <H5><label for="cliente" class="form-label">Numero de cliente: </label></H5>
            <input type="number" class="form-control"  [(ngModel)]="cliente.num_cliente" id="num_cliente" name="num_cliente" required tabindex="1">
          </div>
          <div class="mb-3">
            <H5><label for="cliente" class="form-label">Nombre: </label></H5>
            <input type="text" class="form-control" [(ngModel)]="cliente.nombre_cliente" id="nombre_cliente" name="nombre_cliente" required tabindex="2">
          </div>
          <div class="mb-3">
            <H5><label for="cliente" class="form-label">RFC: </label></H5>
            <input type="text" class="form-control" [(ngModel)]="cliente.rfc_cliente" id="rfc_cliente" name="rfc_cliente" required tabindex="3">
          </div>
          <div class="mb-3">
            <H5><label for="cliente" class="form-label">Calle: </label></H5>
            <input type="text" class="form-control" [(ngModel)]="cliente.calle" id="calle" name="calle" required tabindex="3">
          </div>
          <div class="mb-3">
            <H5><label for="cliente" class="form-label">Codigo postal: </label></H5>
            <input type="number" class="form-control" [(ngModel)]="cliente.cod_postal" id="cod_postal" name="cod_postal" required tabindex="4">
          </div>
          <div class="mb-3">
            <H5><label for="cliente" class="form-label">Ciudad: </label></H5>
            <input type="text" class="form-control" [(ngModel)]="cliente.ciudad" id="ciudad" name="ciudad" required tabindex="5">
          </div>
          <div class="mb-3">
            <H5><label for="cliente" class="form-label">Estado: </label></H5>
            <input type="text" class="form-control" [(ngModel)]="cliente.estado" id="estado" name="estado" required tabindex="3">
          </div>
          <div class="mb-3">
            <H5><label for="cliente" class="form-label">Pais: </label></H5>
            <input type="text" class="form-control" [(ngModel)]="cliente.pais" id="pais" name="pais" required tabindex="3">
          </div>
          <button type="button" class="btn btn-secondary me-4" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" (click)="addCliente()">Guardar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Tabla CLIENTES-->
<mat-table [dataSource]="dataSourceClient" mat-sort>
    <ng-container matColumnDef="Action"  >
      <mat-header-cell *matHeaderCellDef > Action </mat-header-cell>
      <mat-cell *matCellDef="let element" >
          <button  mat-menu-item data-bs-toggle="modal" data-bs-target="#modalEdit" (click)="test(element.id_cliente)">Edit</button>
          <button  mat-menu-item data-bs-toggle="modal" data-bs-target="#modalDelete" (click)="test(element.id_cliente)">Delete</button>
          <!--Modal Editar Cliente-->
          <div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Registro de cliente</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="mb-3">
                      <H5><label for="cliente" class="form-label">Numero de cliente: </label></H5>
                      <input type="number" class="form-control"  [(ngModel)]="element.id_cliente" id="id_cliente" name="id_cliente" required hidden>
                      <input type="number" class="form-control"  [(ngModel)]="element.num_cliente" id="num_cliente" name="num_cliente" required tabindex="1">
                    </div>
                    <div class="mb-3">
                      <H5><label for="cliente" class="form-label">Nombre: </label></H5>
                      <input type="text" class="form-control" [(ngModel)]="element.nombre_cliente" id="nombre_cliente" name="nombre_cliente" required tabindex="2">
                    </div>
                    <div class="mb-3">
                      <H5><label for="cliente" class="form-label">RFC: </label></H5>
                      <input type="text" class="form-control" [(ngModel)]="element.rfc_cliente" id="rfc_cliente" name="rfc_cliente" required tabindex="3">
                    </div>
                    <div class="mb-3">
                      <H5><label for="cliente" class="form-label">Calle: </label></H5>
                      <input type="text" class="form-control" [(ngModel)]="element.calle" id="calle" name="calle" required tabindex="3">
                    </div>
                    <div class="mb-3">
                      <H5><label for="cliente" class="form-label">Codigo postal: </label></H5>
                      <input type="number" class="form-control" [(ngModel)]="element.cod_postal" id="cod_postal" name="cod_postal" required tabindex="4">
                    </div>
                    <div class="mb-3">
                      <H5><label for="cliente" class="form-label">Ciudad: </label></H5>
                      <input type="text" class="form-control" [(ngModel)]="element.ciudad" id="ciudad" name="ciudad" required tabindex="5">
                    </div>
                    <div class="mb-3">
                      <H5><label for="cliente" class="form-label">Estado: </label></H5>
                      <input type="text" class="form-control" [(ngModel)]="element.estado" id="estado" name="estado" required tabindex="3">
                    </div>
                    <div class="mb-3">
                      <H5><label for="cliente" class="form-label">Pais: </label></H5>
                      <input type="text" class="form-control" [(ngModel)]="element.pais" id="pais" name="pais" required tabindex="3">
                    </div>
                    <button type="button" class="btn btn-secondary me-4" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary" (click)="editCliente(element)">Guardar</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!--Modal eliminar cliente-->
          <div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  DESEAS ELIMINAR?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="deleteCliente(element.id_cliente)">Save changes</button>
                </div>
              </div>
            </div>
          </div>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Contactos">
      <mat-header-cell *matHeaderCellDef > Contactos </mat-header-cell>
      <mat-cell *matCellDef="let element" >
        <button mat-menu-item (click)="getContactos(element.id_cliente)">Ver</button>
        <button mat-menu-item data-bs-toggle="modal" data-bs-target="#modalRegContacto">Agregar</button>
        <!--Registro de CONTACTO-->
        <div class="modal fade" id="modalRegContacto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registro de contacto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="">
                  <div class="mb-3">
                    <H5><label for="cliente" class="form-label">Nombre de contacto: </label></H5>
                    <input type="text" class="form-control"  [(ngModel)]="contacto.nombre_contacto" name="nombre_contacto" required tabindex="1">
                  </div>
                  <div class="mb-3">
                    <H5><label for="cliente" class="form-label">Apellido paterno: </label></H5>
                    <input type="text" class="form-control" [(ngModel)]="contacto.apellido_paterno" name="apellido_paterno" required tabindex="2">
                  </div>
                  <div class="mb-3">
                    <H5><label for="cliente" class="form-label">Apellido materno</label></H5>
                    <input type="text" class="form-control" [(ngModel)]="contacto.apellido_materno" name="apellido_materno" equired tabindex="3">
                  </div>
                  <div class="mb-3">
                    <H5><label for="cliente" class="form-label">Correo: </label></H5>
                    <input type="text" class="form-control" [(ngModel)]="contacto.correo" name="correo" required tabindex="3">
                  </div>
                  <div class="mb-3">
                    <H5><label for="cliente" class="form-label">Telefono: </label></H5>
                    <input type="number" class="form-control" [(ngModel)]="contacto.num_telefono" name="num_telefono" required tabindex="4">
                  </div>
                  <input type="number" class="form-control" [(ngModel)]="element.id_cliente"  name="id_cliente" required hidden>
                  <button type="button" class="btn btn-secondary me-4" data-bs-dismiss="modal">Cerrar</button>
                  <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" (click)="addContact(element)">Guardar</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="num_cliente">
      <mat-header-cell *matHeaderCellDef> Numero </mat-header-cell>
      <mat-cell *matCellDef="let cliente"> {{cliente.num_cliente}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="nombre_cliente">
      <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let cliente"> {{cliente.nombre_cliente}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="rfc_cliente">
      <mat-header-cell *matHeaderCellDef> RFC </mat-header-cell>
      <mat-cell *matCellDef="let cliente"> {{cliente.rfc_cliente}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="cod_postal">
      <mat-header-cell *matHeaderCellDef> RFC </mat-header-cell>
      <mat-cell *matCellDef="let cliente"> {{cliente.cod_postal}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="calle">
      <mat-header-cell *matHeaderCellDef> Calle </mat-header-cell>
      <mat-cell *matCellDef="let cliente"> {{cliente.calle}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="ciudad">
      <mat-header-cell *matHeaderCellDef> Ciudad </mat-header-cell>
      <mat-cell *matCellDef="let cliente"> {{cliente.ciudad}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="estado">
      <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
      <mat-cell *matCellDef="let cliente"> {{cliente.estado}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="pais">
      <mat-header-cell *matHeaderCellDef> Pais </mat-header-cell>
      <mat-cell *matCellDef="let cliente"> {{cliente.pais}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[3, 5, 10]"
                 showFirstLastButtons
                 aria-label="Seleccionar pagina de taqueria.">
  </mat-paginator>
<H3>Contactos</H3>
  <mat-table [dataSource]="dataSourceContact" mat-sort>
    <ng-container matColumnDef="Action"  >
      <mat-header-cell *matHeaderCellDef > Action </mat-header-cell>
      <mat-cell *matCellDef="let element" >
        <button mat-menu-item data-bs-toggle="modal" data-bs-target="#modalConEdit" >Edit</button>
        <!--Editar contacto-->
        <div class="modal fade" id="modalConEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registro de cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="">
                  <div class="mb-3">
                    <H5><label for="cliente" class="form-label">Nombre de contacto: </label></H5>
                    <input type="text" class="form-control"  [(ngModel)]="element.nombre_contacto" name="nombre_contacto" required tabindex="1">
                  </div>
                  <div class="mb-3">
                    <H5><label for="cliente" class="form-label">Apellido paterno: </label></H5>
                    <input type="text" class="form-control" [(ngModel)]="element.apellido_paterno" name="apellido_paterno" required tabindex="2">
                  </div>
                  <div class="mb-3">
                    <H5><label for="cliente" class="form-label">Apellido materno</label></H5>
                    <input type="text" class="form-control" [(ngModel)]="element.apellido_materno" name="apellido_materno" equired tabindex="3">
                  </div>
                  <div class="mb-3">
                    <H5><label for="cliente" class="form-label">Correo: </label></H5>
                    <input type="text" class="form-control" [(ngModel)]="element.correo" name="correo" required tabindex="3">
                  </div>
                  <div class="mb-3">
                    <H5><label for="cliente" class="form-label">Telefono: </label></H5>
                    <input type="number" class="form-control" [(ngModel)]="element.num_telefono" name="num_telefono" required tabindex="4">
                  </div>
                  <input type="number" class="form-control" [(ngModel)]="element.id_cliente"  name="id_cliente" required hidden>
                  <button type="button" class="btn btn-secondary me-4" data-bs-dismiss="modal">Cerrar</button>
                  <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" (click)="editContact(element)">Guardar</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <button mat-menu-item data-bs-toggle="modal" data-bs-target="#modalConDelete">Delete</button>
        <!--Eliminar contacto-->
        <div class="modal fade" id="modalConDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                DESEAS ELIMINAR?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="deleteContact(element.id_cliente, element.idcontactos)">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="nombre_contacto">
      <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let contacto"> {{contacto.nombre_contacto}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="apellido_paterno">
      <mat-header-cell *matHeaderCellDef> Ap. Paterno </mat-header-cell>
      <mat-cell *matCellDef="let contacto"> {{contacto.apellido_paterno}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="apellido_materno">
      <mat-header-cell *matHeaderCellDef> Ap. Materno</mat-header-cell>
      <mat-cell *matCellDef="let contacto"> {{contacto.apellido_materno}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="correo">
      <mat-header-cell *matHeaderCellDef> Correo </mat-header-cell>
      <mat-cell *matCellDef="let contacto"> {{contacto.correo}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="num_telefono">
      <mat-header-cell *matHeaderCellDef> Telefono </mat-header-cell>
      <mat-cell *matCellDef="let contacto"> {{contacto.num_telefono}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="id_cliente">
      <mat-header-cell *matHeaderCellDef> Cliente </mat-header-cell>
      <mat-cell *matCellDef="let contacto"> {{contacto.id_cliente}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumnsCo"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumnsCo;"></mat-row>
  </mat-table>
</body>
</html>
